:root {
    --header-background: darkslategray;
    --header-text: blueviolet;
    --body-background: #DBE9F4;
    --card-border: black;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

header, footer {
    background-color: var(--header-background);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 0 1%;
    color: var(--header-text);
}

h1 {
    font-size: 250%;
    margin: 1%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

h5 {
    font-size: 100%;
    font-style: italic;
}

.nav-links li {
    display: inline-block;
    margin: 5px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

main {
    background-color: var(--body-background);
    padding-top: 10px;
}

article {
    display: flex;
    margin-bottom: 1%;
}

article h2 {
    flex: 0 0 15%;
    border-right: 5px solid var(--header-background);
    margin-right: 1%;
}

#about-me div{
    flex-direction: column;
}

article p {
    padding: 1%;
}

#profile-picture {
    padding: 0 1%;
    flex: 0 0 20%;
}

#profile-picture img {
    width: 100%;
}

.work-links {
    display: flex;
    flex-flow: row wrap;
}

.work-links li {
    flex: 0 2 25%;
}

/*Makes the first project larger than the rest*/
.work-links li:nth-child(1) {
    flex: 2 1 80%;
    padding: 0 20%;
}

.card {
    position: relative;
    border: 3px solid var(--card-border);
    opacity: 50%;
}

/*Highlights a card if the cursor is on it*/
.card:hover {
    opacity: 100%;
    --card-border: orange;
}

.card img {
    width: 100%;
}

.card-title {
    position: absolute;
    background-color: var(--card-border);
    bottom: 5%;
    z-index: 1;
    padding: 1%;
}

.contact-links {
    display: flex;
    flex-flow: row wrap;
    width: 75%;
    padding: 3% 0 3%;
    justify-content: space-around;
    align-items: center;
}

.contact-links li {
    display: block;
    border-bottom: 3px solid var(--header-background);
    padding: 0.5%;
}

.contact-links a {
    color: black;
}

/*Shrinks the base font size and h2 to better fit small screens */
@media screen and (max-width: 600px) {
    * {
        font-size: 10px;
    }

    h2 {
        font-size: 125%;
    }
    
    .work-links li {
        flex: 2 1 80%;
    padding: 0 20%;
    }
}